<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>lab</title>
</head>
<body>
    <h1>{{name}} {{ukrainian_name}}</h1>
    <table id=word_list> 
        <thead>
            <tr>
                <th>original</th>
                <th>translation</th>
                <th>translate_to</th>
            </tr>
        </thead>
        <tbody>
        {% for word in words %}
            <tr>
                <td>{{word.original}}</td>
                <td>{{word.translation}}</td>
                <td>{{word.translate_to}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <form id="addWordFrom" name="addWordFrom" >
        <label for="original">Original: </label><input type="text" name="original" id="original" value=""><br />
        <label for="translation">Translation: </label><input type="text" name="translation" id="translation" value=""><br />
        <label for="translate_to">Translate to: </label>
        <select id="translate_to" name="translate_to">
            {% for lang in languages_list %}
                <option value="{{lang.id}}" selected>{{lang.name}}</option>
            {% endfor %}
        </select><br />
        <input id="submit" type="button" value="Send">
        {{ language_id|json_script:"language-id" }}
    </form>    

    <script>
        const language_id = JSON.parse(document.getElementById('language-id').textContent);

        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/lab/'
            + language_id
            + '/'
        );

        function onSubmitFrom(form){
            console.log(form)
        }

        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            console.log(data)
            document.querySelector('#word_list tbody').innerHTML = document.querySelector('#word_list tbody').innerHTML 
            + '<tr><td>' + data.original +'</td><td>' + data.translation + '</td><td>' + data.translate_to + '</td></tr>'
        };

        chatSocket.onclose = function(e) {

            console.error('Chat socket closed unexpectedly');
        };

        document.querySelector('#submit').onclick = function(e) {
            const $original = document.querySelector('#original');
            const $translation = document.querySelector('#translation');
            const $translateTo = document.querySelector('#translate_to');
            chatSocket.send(JSON.stringify({
                'translate_from': language_id,
                'original': $original.value,
                'translation': $translation.value,
                'translate_to': $translateTo.value
            }));
            console.log(JSON.stringify({
                'translate_from': language_id,
                'original': $original.value,
                'translation': $translation.value,
                'translate_to': $translateTo.value
            }));
            $original.value = '';
            $translation.value = '';
            $translateTo.value = '';
        };
    </script>
</body>
</html>